In [2]:
float(5)

5.0

In [3]:
name = "Jashobanta"
age = 23
print("My name is {} and my age is {}".format(name,age))

My name is Jashobanta and my age is 23

In [4]:
s1 = "Certified Data science Course"
s1

'Certified Data science Course'

In [5]:
len(s1)

29

In [6]:
d = {'1':'One','2':[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}
d['2'][1]['Two'][3]['Place'][3]

'Bangalore'

In [7]:
d['2'][1]['Two'][3]['Place'][3]

'Bangalore'

In [8]:
len(s1)

29

In [9]:
s1[5]

'f'

In [10]:
s1[10:]

'Data science Course'

In [11]:
s1[20:]

'ce Course'

In [12]:
str='Certified Data Scientist'
s1=str.split()
s1[1]*3

'DataDataData'

In [ ]:
x=int(input("Enter the number"))
if(x<=10 and x>=0):
    print("The number lies between 1 to 10")
else:
    print("The number doesnot lies between 1 to 10")

### sum the numbers from 1 to 20 using for loop

In [ ]:
sum=0
for x in range(1,21):
    sum=sum+x
print(sum)

In [ ]:
sum=0
for x in range(1,50):
    sum=sum+x
print(sum)

In [ ]:
for x in range(10,100,5):
    print(x)

In [ ]:
 sq=x**x
for i in range(2,6):
    print(sq)

In [ ]:
s1={1,2,4,5,8,1} 
s2={2,3,4,6,7,3,2}
print("Maximum and Minimum values are {} and {}".format(max(s1),min(s2)))

In [ ]:
num=int(input("Enter a number"))
print("the number to divided is: ",num)
if(num%2==0 and num%3==0):
    print("Divisible by both")
elif(num%2==0):
    print("Divisible by by 2")
elif(num%3==0):
    print("Divisble by 3")
else:
    print("Not divisible by both")

In [ ]:
num=int(input("Enter a number"))
print("the number to divide is: ", num)
if(num%2==0 and num%3==0): # == equals
    print("Divisbile by both")
elif(num%2==0):
    print("Divisible by by 2")
elif(num%3==0):
    print("Divisble by 3")
else:
    print("Not divisible by both")

In [ ]:
list1 = [34,56.5,True,'Hai',45]
list1

In [ ]:
type(list1)

In [ ]:
list1.index(56.5)

In [ ]:
list1[3]

In [ ]:
list1[2]

In [ ]:
list1.insert(2,45)
list1

In [ ]:
list1.append(30)

In [ ]:
list1

In [ ]:
list1.extend([100,200,300])
list1

In [ ]:
list3=[34, 55, False, 'Hai', 45, 'Thirty', 40, 100, 200, 300, 100, 200]

In [ ]:
list3

In [ ]:
list3[4:7]

In [ ]:
list3[::-1]

In [ ]:
list3[::2]

In [ ]:
list3[7:]

In [ ]:
list3[-5:]

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [ ]:
x = np.arange(1,6)
x

In [ ]:
### basic plots->line bar narh pie scatter

In [ ]:
y = x**2
y

In [ ]:
plt.plot(x,y)

In [ ]:
plt.plot(x,y,marker='o')

In [ ]:
plt.xlabel('X Axis')

In [ ]:
plt.bar(x,y)

In [ ]:
plt.barh(x,y)

In [ ]:
plt.pie(x)
plt.show()

In [ ]:
plt.scatter(x,y)

In [ ]:
x = [1,3,4,6,9]
label1 = np.arange(11,16)
labels = ['Radius 1', 'Radius 2', 'Radius 3', 'Radius 4', 'Radius 5']
y = [i**2 for i in x]
plt.plot(x, y)
plt.xticks(x, labels, rotation=90)
plt.yticks(y,label1)
plt.margins(0.25)
plt.xlabel('X Axis')
plt.ylabel('Y Axis')
plt.show()

In [ ]:
plt.hist(x)

In [ ]:
plt.quiver(x,y)

In [ ]:
plt.hist2d(x,y)

In [ ]:
import numpy as np

In [ ]:
a2 = np.array([[1,2,3,4],[2,5,1,7],[8,7,3,4]])
a2

In [ ]:
type(a2)

In [ ]:
print(a2.shape)

In [ ]:
print(a2.ndim)

In [ ]:
import numpy as np

In [ ]:
a4 = np.array([[4,3,5],[1,2,3],[4,5,6],[7,5,4]])
a4

In [ ]:
print(a4.shape)

In [ ]:
print(a4.ndim)

In [ ]:
print(a4.size)

In [ ]:
np.arange(1,7)

In [ ]:
np.arange(1,100,18)

In [ ]:
np.arange(100,1,-25)

In [ ]:
np.random.rand(2,5)

In [ ]:
import numpy as np

In [ ]:
a2 = np.array([[1,2,3],[2,5,1],[8,7,3]])
a2

In [ ]:
a4 = np.array([[4,3,5],[1,2,3],[4,5,6]])
a4

In [ ]:
np.hstack((a2,a4))

In [ ]:
a4=[[1,2],[3,4]]
a4

In [ ]:
a4 > 2

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.DataFrame([[1,2,3,6],[5,6,7,9],[4,2,8,1]])#data frame
df1

In [ ]:
df2 = pd.DataFrame([[1,2,34],[45,34,5]])

In [ ]:
df2

In [ ]:
df2.index = ['R1','R2']
df2.columns = ['C1','C2','C3']
df2

In [ ]:
df1.index='R1 R2 R3 '.split()
df1.columns='C1 C2 C3 C4'.split()
df1

In [ ]:
df3 = pd.DataFrame(tuple([[1,2,3],[4,5,6]]))
df3

In [ ]:
df4=pd.DataFrame(np.random.randint(1,2000,18).reshape(6,3))
df4

In [ ]:
import numpy as np
from scipy import stats

In [ ]:
H0: Marriage age of male in India is 30 
Ha: Marriage age of male in India is not 30 
30 is the hypothesised mean

In [ ]:
mar_age=[39, 47, 40, 39, 18, 31, 42, 38, 32, 40]
mar_age

In [ ]:
stats.ttest_1samp(mar_age,30)

In [ ]:
mar_age1= [30,34,31,32,28,33,22,35,32,30]
mar_age1

In [ ]:
units = int(input('Please enter the number of unit you consumed: '))
if(units < 50):
    amount = units * 2.60
    surcharge = 25
elif(units <= 100):
    amount = 130 + ((units - 50)*3.25)
    surcharge = 35
elif(units <= 200):
    amount = 130 + 162.50 + ((units - 100)* 5.26)
    surcharge = 45
else:
    amount = 130 + 162.50 + 526 + ((units - 200)*8.45)
    surcharge = 75
total = amount + surcharge 
print('\n Electricity Bill = %.2f' % total)b

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('pen_price.csv')
data.head()

In [ ]:
print(data.shape)

In [ ]:
data.info()

In [ ]:
data.info

In [ ]:
data .describe() #statistical info

In [ ]:
data.isnull().sum()

In [ ]:
X=data[['pen']]
y=data[['price']]
print(X.head(4))
print(y.head(2))

In [ ]:
#spliting the data trainng and testing
from sklearn.model_selection import train_test_split

In [ ]:
num=int(input("Enter a number"))
if num%2==0:
    print("the no is even")
else:
    print("the no is odd")

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [ ]:
model.fit(x_train,Y_train)

In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [ ]:
data = pd.read_csv('hp_data (1).csv')
data.head()

In [ ]:
data.shape

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
data.isnull().sum()

In [ ]:
data.corr()

In [ ]:
data.corrwith(data.price)

In [ ]:
X = data.loc[:,['sqft','totalFloor','bhk']]
y = data[['price']]

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [ ]:
X_train.shape

In [ ]:
X_test.shape

In [ ]:
model = LinearRegression()
model

In [5]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [8]:
data = pd. read_csv("insurance.csv")
data.head()

   age  bought_insurance
0   22                 0
1   25                 0
2   47                 1
3   52                 0
4   46                 1

In [9]:
data.shape

(27, 2)

In [10]:
 data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               27 non-null     int64
 1   bought_insurance  27 non-null     int64
dtypes: int64(2)
memory usage: 560.0 bytes

In [11]:
data.bought_insurance.unique()

array([0, 1], dtype=int64)

In [12]:
data.describe()

             age  bought_insurance
count  27.000000         27.000000
mean   39.666667          0.518519
std    15.745573          0.509175
min    18.000000          0.000000
25%    25.000000          0.000000
50%    45.000000          1.000000
75%    54.500000          1.000000
max    62.000000          1.000000

In [13]:
data.isnull().sum()

age                 0
bought_insurance    0
dtype: int64

In [14]:
X = data[['age']]
y = data[['bought_insurance']]

In [15]:
X_train,X_test,y_train,y_test = train_test_split(X,y)
X_train.shape

(20, 1)

In [16]:
X_test.shape

(7, 1)

In [17]:
y_test.shape

(7, 1)

In [18]:
model = LogisticRegression()
model

LogisticRegression()

In [19]:
model.fit(X_train,y_train)

E:\Users\ACER\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [20]:
y_predict = model.predict(X_test)
y_predict

array([0, 1, 1, 0, 0, 1, 0], dtype=int64)

In [21]:
X_test,y_test

(    age
 1    25
 25   54
 17   58
 16   25
 18   19
 8    62
 21   26,
     bought_insurance
 1                  0
 25                 1
 17                 1
 16                 1
 18                 0
 8                  1
 21                 0)

In [22]:
y_test

    bought_insurance
1                  0
25                 1
17                 1
16                 1
18                 0
8                  1
21                 0

In [1]:
#task

In [3]:
# table of 45
num = 45
for i in range(1, 11):
    print(num, 'x', i, '=', num*i)

45 x 1 = 45
45 x 2 = 90
45 x 3 = 135
45 x 4 = 180
45 x 5 = 225
45 x 6 = 270
45 x 7 = 315
45 x 8 = 360
45 x 9 = 405
45 x 10 = 450

In [7]:
#  sum of natural number
n = int(input('Enter a number you want to'))
sum = 0
i = 1
while (i<= n):
    sum = i +sum
    i =i+ 1
print('The sum of natural number =', sum)

Enter a number you want to5
The sum of natural number = 15

In [8]:
#factorial
i = int(input('Enter a number you want to'))
fac=1
while(i>0):
    fac=i*fac
    i=i-1
print("the factorial of the no is =",fac)

Enter a number you want to5
the factorial of the no is = 120

In [9]:
n=int(input("the number i want to print"))
i=1
while(i<=n):
    print(i)
    i=i+1

the number i want to print5
1
2
3
4
5

In [10]:
import numpy as np
import pandas as pd

In [14]:
data = pd.read_csv('sales of the month.csv')
data.head()

  month  sales
0   jan  50000
1   feb  62000
2   mar  21422
3   apr  25133
4   may  22543

In [15]:
data.describe()

               sales
count      12.000000
mean    60564.500000
std     82320.328084
min      3334.000000
25%     22121.750000
50%     23660.000000
75%     53000.000000
max    233548.000000